<!DOCTYPE html>
<html>
<head>
    <title>Data Access: MassiveBlack-II Simulation</title>
    <link href="/lib/css/dataaccess.css" rel="stylesheet">
    <style type="text/css">
        pre {
            background: black;
            padding: 10px;
        }
        span.option {
            min-width: 30%;
            display: inline-block;
            font-family: monospace;
        }
        div {
            margin: 10px;
        }
        div.box {
            border: 1px solid;
            padding: 10px;
        }
    </style>
    <script language="JavaScript" type="text/javascript" src="/lib/jquery/jquery-1.10.2.js"></script>
    <script language="JavaScript" type="text/javascript" src="/lib/sprintf.js"></script>
    <script language="JavaScript" type="text/javascript">
        function updatelftp() {
            var checked = $('#lftpoptions input[type=checkbox]:checked');
            console.log(checked);
            var foo = "";
            var i;
            var method = 
                $('#lftpsnapshots input:radio[name=method]:checked').val();
            for(i = 0; i < checked.length; i++) {
                foo = foo + "-i " + checked[i].value + " ";
                if(i % 4 == 0 && i > 0) foo = foo + " \\\n";
            };
            foo = foo + " \\\n";
            var snapshots = $('#lftpsnapshots input[type=checkbox]:not(:checked)');
            
            var goo = "";
            var parts;
            for(i = 0; i < snapshots.length; i++) { 
                parts = snapshots[i].value.split("|");
                goo = goo + "-x " + parts[method == 'by-redshift'?1:0] + " ";
                if(i % 8 == 0 && i > 0) goo = goo + " \\\n";
            }
            goo = goo + " \\\n";
            var text = "lftp -c mirror --include-glob '*.npz' \\\n" 
                + foo
                + goo
                + "http://mbii.phys.cmu.edu{{prefix}}/" + method + "/ MB-II\n";
            $("#lftpcmd").text(text);
        }
        function toggle(elmt) {
            $(elmt).each(function(){
                $(this).prop('checked',
                    !$(this).prop('checked'));
            });
            updatelftp();
        }
        $(document).ready(updatelftp);
    </script>
</head>
<body>
<h1>MassiveBlack II Simulation </h1>
<h2>Data Access</h2>
<div>
    <h2>About the Galaxy Catalog</h2>
    <p>
    These links are permanent after you have accepted the <a href="{{ signup }}">User Agreement</a>.</p>
    <p>Some of the halo properties are not yet converted to the data
release format.</p>
    <p> If a particular property is of interest and not yet released.
Please let us know.</p>
    <p> The easiest way to access the data is with <a href="http://www.numpy.org/">numpy</a>
        and the following python module <a href="dirarray.py">dirarray.py</a>.
    </p>
    <p> A comprehensive guide to reading the files is at 
        <a href="README.txt">README.txt</a>.
    </p>
    <h2>Mirroring selected properties</h2> 
     You will need <a href="http://lftp.yar.ru">lftp</a>.
    <pre id="lftpcmd"></pre>

    <div id="lftpsnapshots" class="box">

        <h3>Index snapshots by</h3>
        <input name="method" id="by-redshift" checked 
            value="by-redshift" type="radio" 
            onclick="updatelftp();"/>
        <label for="by-redshift">Redshift</label>
        <input name="method" id="by-snapid" 
            value="by-snapid" type="radio" 
            onclick="updatelftp();"/>
        <label for="by-snapid">Snapshot Number</label>


        <h3>Select snapshots 
        <input value="Invert" type="button" 
        onclick="toggle('#lftpsnapshots input[type=checkbox]');"/>
        </h3>

% for snap in snapshots:
        <span class="option">
        <input name="snap_{{snap['snapid']}}" 
            value="{{snap['snapid']}}|{{snap['redshift']}}" 
            type="checkbox" checked onchange="updatelftp();"/>
        <label for="snap_{{snap['snapid']}}">{{snap['snapid']}} 
            <span style="font-family:monospace">z={{snap['redshift']}} </span></label>
        </span>
% end
    </div>
    <div id="lftpoptions" class="box">
        <h3>Select fields
        <input value="Invert", type="button" 
            onclick="toggle('#lftpoptions input[type=checkbox]');"/>
        </h3>
        <p>hover to see the description.</p>
% for field, type in fields:
    <span class="option" title="{{descr.get(field, "see README.txt")}}">
    <input id="comp{{field}}" value="{{field}}" type="checkbox" checked onchange="updatelftp();"/>
    <label for="comp{{field}}">{{field}} [{{type}}]</label>
    </span>
% end 
    </div>
    <h2> Direct links </h2>
        <table>
        <thead>
        <tr>
        <th>Method</th><th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr><th> By Redshift</th>
        <td>
        <a href="{{prefix}}/by-redshift/">
        {{prefix}}/by-redshift/ 
        </a></td></tr>
        <tr><th> By Snapshot Number</th>
        <td><a href="{{prefix}}/by-snapid/">
        {{prefix}}/by-snapid/
        </a></td></tr>
        </tbody>
        </table>
<!--
<div>
    <h2> Further data releases </h2>
    This is a placeholder for further data releases. 
</div>
-->
</div>
<hr/>
<div id='footer'> Yu Feng 2014 </div>
</body>
</html>
