% for gid, group in zip(id, groups):
    <h2> Group: {{'%05d' % gid}}  </h2>
    <table>
    <tr><th>Mass</th><td> {{'%.5g' % (group['mass'] * 1e10)}}</td><th> M_sun / h </th></tr> 
    <tr><th>X</th><td> {{'%.5g' % group['pos'][0] }}</td><th> Kpc / h</th></tr>
    <tr><th>Y</th><td> {{'%.5g' % group['pos'][1] }}</td><th> Kpc / h</th></tr>
    <tr><th>Z</th><td> {{'%.5g' % group['pos'][2] }}</td><th> Kpc / h</th></tr>
    <tr><th>Nsubhalo</th><td> {{group['Nsubhalo'] }}</td><th> </th></tr>
    <tr><th>first</th><td> {{group['firstsubhalo'] }}</td><th> </th></tr>
    </table>
% end
